$pink: #e97ab0;
$darkPink: #d056b0;
$green: #ccff00;
$darkGreen: #8fb300;
$white: white;
$article-fore-color: #e3e3e3;
$footer-fore-color: #dbe4e7;
$ornament-color: #785e79;

* {
  font-family: "Roboto Bold";
  src: url("fonts/Roboto-Bold.ttf");
  margin: 0;
  padding: 0;
}

.html,
body {
  background-image: linear-gradient(
    210deg,
    hsl(313deg 34% 48%) 3%,
    hsl(312deg 31% 45%) 5%,
    hsl(310deg 28% 41%) 7%,
    hsl(307deg 25% 38%) 10%,
    hsl(301deg 21% 35%) 14%,
    hsl(293deg 18% 32%) 19%,
    hsl(279deg 16% 30%) 26%,
    hsl(257deg 13% 27%) 36%,
    hsl(223deg 15% 24%) 47%,
    hsl(194deg 5% 25%) 58%,
    hsl(94deg 7% 28%) 68%,
    hsl(80deg 15% 30%) 75%,
    hsl(76deg 23% 31%) 81%,
    hsl(75deg 30% 33%) 86%
  );

  header {
    height: 1.2em;
    padding: 0.5em;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    display: flex;
    justify-content: center;
  }

  footer {
    letter-spacing: 0.1em;
    line-height: 2em;
    font-size: 0.8em;
    color: $footer-fore-color;
    border-radius: 1em;
    padding: 25px;
    width: 80%;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);

    img {
      text-align: center;
      height: 4em;
    }

    p {
      text-align: justify;
    }

    a {
      color: $green;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:10px;
    color: $white;

    @media (min-width: 767px) {
      width: 40%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    a {
      text-decoration: underline;
      text-decoration-style: dotted;

      &.disabled {
        text-decoration: line-through;
        color: $ornament-color;
        cursor: not-allowed;
      }
    }

    .divider {
      height: 2.2em;
      padding: 0.5em;
      text-align: center;
      background-image: url("images/divider.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-origin: content-box;
      display: flex;
      justify-content: center;
      width: 200px;
    }

    .title {
      text-align: center;
      padding: 10px;
    }

    .ciriandzelda {
      height: 40px;
      width: 100px;
      background-image: url("images/ciri-and-zelda-watermark.svg");
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        opacity: 0.2;
      }
    }

    .portrait {
      img {
        border-radius: 90px;
        height: 9em;
        box-shadow: 0px 5px 5px rgb(44, 43, 43);
        float: left;
        margin: 1em;

        &.ciri {
          border: 2px dotted $green;
        }

        &.zelda {
          border: 2px dotted $pink;
        }
      }

      h3 {
        text-align: left;

        @media (max-width: 767px) {
          font-size: 0.9em;
        }
      }
    }

    article {
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: column;
      letter-spacing: 0.1em;
      line-height: 2em;
      text-align: center;
      margin: 6px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 1em;
      padding: 20px;
      width: 80%;
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
      box-shadow: 2px 2px 40px rgba(49, 17, 40, 0.17);
      margin:5px;
      div {
        span {
          font-weight: bold;
        }
       
      }
      .info {
        height: 4em;
      }
      img {
        height: 2.4em;
        margin: 0.5em;
      }

      .alchelogo {
        height: 4em;

        &:hover {
          opacity: 0.2;
        }
      }

      .switch {
        align-self: baseline;
        margin-bottom: -2em;
        animation: pulseGrayscale 2s infinite alternate;
        height: 2em;
      }

      .switch:hover {
        cursor: pointer;
      }

      header {
        font-weight: bolder;
        height: fit-content;
      }

      p {
        font-weight: normal;
        text-align: left;
        color: $article-fore-color;

        &.center {
          text-align: center;
        }
        br {
          display: block;
          margin-bottom: 0.6em;
        }

        video {
          width:10em;
        
          border-radius: 1em;
          margin-right: 20px;
          margin-top: 10px;

          float: left;
          box-shadow: 2px 2px 40px rgba(49, 17, 40, 0.37);
          @media (max-width: 767px) {
            width:6em;
            margin-bottom: 0px;
          }
        }

        img {
          height: 9em;
        }
        a {
          img {
            height: 5em;
          }
        }
      }

      h1 {
        color: $green;
        font-size: 1.3em;
        mix-blend-mode: screen;
        text-shadow: 0px 0px 36px $green;
        @media (max-width: 767px) {
          font-size: 1.3em;
        }
      }

      h2 {
        color: $pink;
        font-size: 1.3em;
        @media (max-width: 767px) {
          font-size: 1.1em;
        }
        mix-blend-mode: plus-lighter;
        text-shadow: 0px 0px 36px #ce9595;
      }

      h3 {
        align-self: flex-start;
        text-align: left;

        &.ciri {
          color: $green;
        }

        &.zelda {
          color: $pink;
        }
      }

      a {
        color: $green;
      }
    }
  }
 
}


