@charset "UTF-8";
* {
  font-family: "Roboto Bold";
  src: url("fonts/Roboto-Bold.ttf");
  margin: 0;
  padding: 0;
}

.html,
body {
  background-image: linear-gradient(210deg, hsl(313, 34%, 48%) 3%, hsl(312, 31%, 45%) 5%, hsl(310, 28%, 41%) 7%, hsl(307, 25%, 38%) 10%, hsl(301, 21%, 35%) 14%, hsl(293, 18%, 32%) 19%, hsl(279, 16%, 30%) 26%, hsl(257, 13%, 27%) 36%, hsl(223, 15%, 24%) 47%, hsl(194, 5%, 25%) 58%, hsl(94, 7%, 28%) 68%, hsl(80, 15%, 30%) 75%, hsl(76, 23%, 31%) 81%, hsl(75, 30%, 33%) 86%);
}
.html .container,
body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  color: white;
  margin: auto;
}
@media (min-width: 767px) {
  .html .container,
  body .container {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .html .container,
  body .container {
    width: 100%;
  }
}
.html .container header,
body .container header {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  transition: height 0.3s;
  padding: 2em;
}
.html .container header h1,
body .container header h1 {
  font-size: 1.2em;
  color: #ccff00;
}
.html .container header h2,
body .container header h2 {
  font-size: 0.9em;
  color: #e3b1c9;
}
.html .container header .alchelogo,
body .container header .alchelogo {
  height: 4em;
}
.html .container nav,
body .container nav {
  filter: saturate(50%);
}
.html .container nav img,
body .container nav img {
  height: 3em;
}
.html .container a,
body .container a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.html .container a.disabled,
body .container a.disabled {
  text-decoration: line-through;
  color: #785e79;
  cursor: not-allowed;
}
.html .container .divider,
body .container .divider {
  height: 2.2em;
  padding: 0.5em;
  text-align: center;
  background-image: url("images/divider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  display: flex;
  justify-content: center;
  width: 200px;
}
.html .container article,
body .container article {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2em;
  text-align: center;
  margin: 1em;
  background: linear-gradient(to right bottom, rgba(245, 240, 180, 0.2), rgba(200, 90, 252, 0.1));
  border-radius: 1em;
  padding: 20px;
  width: 80%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
  box-shadow: 2px 2px 40px rgba(49, 17, 40, 0.17);
  margin: 1em 1em 1em 1em;
}
.html .container article::after,
body .container article::after {
  content: ""; /* Contenuto vuoto per il pseudo-elemento */
  background-image: url(images/divider.svg); /* Specifica l'URL dell'immagine di sfondo */
  background-size: 300px;
  opacity: 0.3; /* Imposta l'opacità desiderata (0.5 indica il 50% di opacità) */
  position: fixed;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1; /* Posiziona il pseudo-elemento dietro l'elemento principale */
  filter: blur(40px);
}
.html .container h3,
body .container h3 {
  font-size: 1.2em;
  text-align: left;
  margin: 0.6em;
}
.html .container .portrait img,
body .container .portrait img {
  border-radius: 90px;
  height: 9em;
  box-shadow: 0px 5px 5px rgb(44, 43, 43);
  float: left;
  margin: 1em;
}
.html .container .portrait img.ciri,
body .container .portrait img.ciri {
  border: 2px dotted #ccff00;
}
.html .container .portrait img.zelda,
body .container .portrait img.zelda {
  border: 2px dotted #e97ab0;
}
.html .container p,
body .container p {
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.1em;
}
.html .container p.center,
body .container p.center {
  text-align: center;
}
.html .container p br,
body .container p br {
  display: block;
  margin-bottom: 0.6em;
}
.html .container p video,
body .container p video {
  width: 10em;
  border-radius: 1em;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
  box-shadow: 2px 2px 40px rgba(49, 17, 40, 0.37);
}
@media (max-width: 767px) {
  .html .container p video,
  body .container p video {
    width: 8em;
    margin-bottom: 0;
  }
}
.html .container p img,
body .container p img {
  height: 9em;
}
.html .container p a img,
body .container p a img {
  height: 6em;
}
.html footer,
body footer {
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
  color: #dbe4e7;
  border-radius: 1em;
  padding: 25px;
  width: 80%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}
.html footer img,
body footer img {
  text-align: center;
  text-align: center;
  height: 7em;
  margin-bottom: 2em;
}
.html footer p,
body footer p {
  text-align: justify;
}
.html footer a,
body footer a {
  color: #ccff00;
}/*# sourceMappingURL=main.css.map */