* {
  font-family: "Roboto Bold";
  src: url("fonts/Roboto-Bold.ttf");
  margin: 0;
  padding: 0;
}

.html,
body {
  background-image: linear-gradient(210deg, hsl(313, 34%, 48%) 3%, hsl(312, 31%, 45%) 5%, hsl(310, 28%, 41%) 7%, hsl(307, 25%, 38%) 10%, hsl(301, 21%, 35%) 14%, hsl(293, 18%, 32%) 19%, hsl(279, 16%, 30%) 26%, hsl(257, 13%, 27%) 36%, hsl(223, 15%, 24%) 47%, hsl(194, 5%, 25%) 58%, hsl(94, 7%, 28%) 68%, hsl(80, 15%, 30%) 75%, hsl(76, 23%, 31%) 81%, hsl(75, 30%, 33%) 86%);
}
.html header,
body header {
  height: 1.2em;
  padding: 0.5em;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  display: flex;
  justify-content: center;
}
.html footer,
body footer {
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
  color: #dbe4e7;
  border-radius: 1em;
  padding: 25px;
  width: 80%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}
.html footer img,
body footer img {
  text-align: center;
  height: 4em;
}
.html footer p,
body footer p {
  text-align: justify;
}
.html footer a,
body footer a {
  color: #ccff00;
}
.html .container,
body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
}
@media (min-width: 767px) {
  .html .container,
  body .container {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .html .container,
  body .container {
    width: 100%;
  }
}
.html .container a,
body .container a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.html .container a.disabled,
body .container a.disabled {
  text-decoration: line-through;
  color: #785e79;
  cursor: not-allowed;
}
.html .container .divider,
body .container .divider {
  height: 2.2em;
  padding: 0.5em;
  text-align: center;
  background-image: url("images/divider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  display: flex;
  justify-content: center;
  width: 200px;
}
.html .container .title,
body .container .title {
  text-align: center;
  padding: 10px;
}
.html .container .ciriandzelda,
body .container .ciriandzelda {
  height: 40px;
  width: 100px;
  background-image: url("images/ciri-and-zelda-watermark.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.html .container .ciriandzelda:hover,
body .container .ciriandzelda:hover {
  opacity: 0.2;
}
.html .container .portrait img,
body .container .portrait img {
  border-radius: 90px;
  height: 9em;
  box-shadow: 0px 5px 5px rgb(44, 43, 43);
  float: left;
  margin: 1em;
}
.html .container .portrait img.ciri,
body .container .portrait img.ciri {
  border: 2px dotted #ccff00;
}
.html .container .portrait img.zelda,
body .container .portrait img.zelda {
  border: 2px dotted #e97ab0;
}
.html .container .portrait h3,
body .container .portrait h3 {
  text-align: left;
}
@media (max-width: 767px) {
  .html .container .portrait h3,
  body .container .portrait h3 {
    font-size: 0.9em;
  }
}
.html .container article,
body .container article {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.1em;
  line-height: 2em;
  text-align: center;
  padding: 8px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  padding: 25px;
  width: 80%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
  box-shadow: 2px 2px 40px rgba(49, 17, 40, 0.17);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.html .container article div span,
body .container article div span {
  font-weight: bold;
}
.html .container article div img,
body .container article div img {
  padding: 0;
  margin: 0;
  float: right;
  margin-left: 0.4em;
}
.html .container article .info,
body .container article .info {
  height: 4em;
}
.html .container article img,
body .container article img {
  height: 2em;
  margin: 0.5em;
}
.html .container article .alchelogo,
body .container article .alchelogo {
  height: 4em;
}
.html .container article .alchelogo:hover,
body .container article .alchelogo:hover {
  opacity: 0.2;
}
.html .container article .switch,
body .container article .switch {
  align-self: baseline;
  margin-bottom: -2em;
  animation: pulseGrayscale 2s infinite alternate;
  height: 2em;
}
.html .container article .switch:hover,
body .container article .switch:hover {
  cursor: pointer;
}
.html .container article header,
body .container article header {
  font-weight: bolder;
  height: -moz-fit-content;
  height: fit-content;
}
.html .container article p,
body .container article p {
  font-weight: normal;
  text-align: left;
  color: #e3e3e3;
}
.html .container article p.center,
body .container article p.center {
  text-align: center;
}
.html .container article p br,
body .container article p br {
  display: block;
  margin-bottom: 0.6em;
}
.html .container article p video,
body .container article p video {
  width: 10em;
  border-radius: 1em;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
  box-shadow: 2px 2px 40px rgba(49, 17, 40, 0.37);
}
@media (max-width: 767px) {
  .html .container article p video,
  body .container article p video {
    width: 6em;
    margin-bottom: 0px;
  }
}
.html .container article p img,
body .container article p img {
  height: 9em;
}
.html .container article p a img,
body .container article p a img {
  height: 5em;
}
.html .container article h1,
body .container article h1 {
  color: #ccff00;
  font-size: 1.3em;
  mix-blend-mode: screen;
  text-shadow: 0px 0px 36px #ccff00;
}
@media (max-width: 767px) {
  .html .container article h1,
  body .container article h1 {
    font-size: 1.3em;
  }
}
.html .container article h2,
body .container article h2 {
  color: #e97ab0;
  font-size: 1.3em;
  mix-blend-mode: plus-lighter;
  text-shadow: 0px 0px 36px #ce9595;
}
@media (max-width: 767px) {
  .html .container article h2,
  body .container article h2 {
    font-size: 1.1em;
  }
}
.html .container article h3,
body .container article h3 {
  align-self: flex-start;
  text-align: left;
}
.html .container article h3.ciri,
body .container article h3.ciri {
  color: #ccff00;
}
.html .container article h3.zelda,
body .container article h3.zelda {
  color: #e97ab0;
}
.html .container article a,
body .container article a {
  color: #ccff00;
}/*# sourceMappingURL=main.css.map */