$softPink: #cec6ca;
$pink: #e97ab0;
$darkPink: #d056b0;
$green: #ccff00;
$darkGreen: #8fb300;
$darkGreenA: rgba(213, 255, 44, 0.32);
$darkPinkA: rgba(230, 23, 175, 0.04);
$white: white;

$article-fore-color: #e3e3e3;
$footer-fore-color: #dbe4e7;
$ornament-color: #785e79;

* {
  font-family: "Roboto Bold";
  src: url("fonts/Roboto-Bold.ttf");
  margin: 0;
  padding: 0;
}

.html,
body {
  background-image: linear-gradient(
    210deg,
    hsl(313deg 34% 48%) 3%,
    hsl(312deg 31% 45%) 5%,
    hsl(310deg 28% 41%) 7%,
    hsl(307deg 25% 38%) 10%,
    hsl(301deg 21% 35%) 14%,
    hsl(293deg 18% 32%) 19%,
    hsl(279deg 16% 30%) 26%,
    hsl(257deg 13% 27%) 36%,
    hsl(223deg 15% 24%) 47%,
    hsl(194deg 5% 25%) 58%,
    hsl(94deg 7% 28%) 68%,
    hsl(80deg 15% 30%) 75%,
    hsl(76deg 23% 31%) 81%,
    hsl(75deg 30% 33%) 86%
  );

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: $white;
    margin: auto;
    @media (min-width: 767px) {
      width: 40%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    header {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      transition: height 0.3s;
      padding: 2em;
      margin:2em;
      line-height: 2em;
      h1 {
        font-size: 1.2em;
        color: $green;
      }

      h2 {
        font-size: 1em;
        color: $softPink;
        letter-spacing: 0.3em;
      }
      .alchelogo {
        height: 7em;
      }
    }
    nav {
      
      img {
        height: 4em;
      }
    }
    
    a {
      text-decoration: underline;
      text-decoration-style: dotted;

      &.disabled {
        text-decoration: line-through;
        color: $ornament-color;
        cursor: not-allowed;
      }
    }

    .divider {
      height: 2.2em;
      padding: 0.5em;
      text-align: center;
      background-image: url("images/divider.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-origin: content-box;
      display: flex;
      justify-content: center;
      width: 200px;
    }

    article {
      &::after {
        content: ""; 
        background-image: url(images/divider.svg);
        background-size: 300px;
        opacity: 0.3;
        position: fixed;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(40px);
      }

      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: column;
      line-height: 2em;
      text-align: center;
      margin: 1em;

      background: linear-gradient(
        to right bottom,
        rgba(245, 240, 180, 0.2),
        rgba(200, 90, 252, 0.1)
      );

      border-radius: 1em;
      padding: 20px;
      width: 80%;
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
      box-shadow: 2px 2px 40px rgba(49, 17, 40, 0.17);
      margin: 1em 1em 1em 1em;

      border-left: 1em solid $darkPinkA;

      
        border-left: 1em solid $darkGreenA;
        background-color: rgba(213, 255, 44, 0.15);
        span {
          min-height: 6em;
        }
        nav {
          img {
            background-color: transparent;
            padding:1em;
            display: inline-block;
            border-radius: 1em;
            &:hover {
              background-color: $darkGreenA;
            }
            &:active {
              background-color: $darkGreenA;
            }
          }
        }
    
    }
    h3 {
      font-size: 1.2em;
      text-align: left;
      margin: 0.6em;
    }
    .portrait {
      img {
        border-radius: 90px;
        height: 9em;
        box-shadow: 0px 5px 5px rgb(44, 43, 43);
        float: left;
        margin: 1em;
        &.ciri {
          border: 2px dotted $green;
        }
        &.zelda {
          border: 2px dotted $pink;
        }
      }

    }
    p {
      font-weight: normal;
      text-align: left;
      letter-spacing: 0.1em;
      &.center {
        text-align: center;
      }
      br {
        display: block;
        margin-bottom: 0.6em;
      }

      video {
        width: 10em;
        border-radius: 1em;
        margin-right: 20px;
        margin-top: 10px;
        float: left;
        box-shadow: 2px 2px 40px rgba(49, 17, 40, 0.37);
        @media (max-width: 767px) {
          width: 8em;
          margin-bottom: 0;
        }
      }

      img {
        height: 9em;
      }
      a {
        img {
          height: 6em;
        }
      }
    }
  }

  footer {
    letter-spacing: 0.1em;
    line-height: 2em;
    font-size: 0.8em;
    color: $footer-fore-color;
    border-radius: 1em;
    padding: 25px;
    width: 80%;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);

    img {
      text-align: center;
      text-align: center;
      height: 7em;
      margin-bottom: 2em;
    }

    p {
      text-align: justify;
    }

    a {
      color: $green;
    }
  }
}
